label {
  font-size: 13px;
  font-family: "Yu Gothic";
  font-weight: bold;
}

button {
  font-size: 15px;
  font-family: "Yu Gothic";
}

label {
  font-weight: bold;
  font-size: 13px;
  font-family: "Yu Gothic";
}

button {
  font-family: "Yu Gothic";
  font-size: 15px;
}

.maindiv {
  right: 0;
  left: 0;
  position: absolute;
  margin: auto;
  width: 300px;
  height: 450px;
  background-color: white;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: -webkit-center;
  box-sizing: inherit;
  /*top: 0;*/
  /*bottom: 0;*/
}

.imageDiv {
  /*background-position: center center;*/
  /*background-size: cover;*/
  /*height: 100%;*/
  /*left: 0;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*position: fixed;*/
  /*top: 0;*/
  /*width: 100%;*/
  padding-bottom: 150px;
  padding-top: 150px;
}


.logodiv {
  margin-top: 20px;
  text-align: center;
}

#usertxt {
  background-color: white;
  border-radius: 10px;
  height: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-image: url(../../assets/usrimg.png);
  background-position: 2px 4px;
  padding: 12px 20px 12px 30px;
}

#pswdtxt {
  background-color: white;
  border-radius: 10px;
  height: 30px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-image: url(../../assets/pswrdjh.png);
  background-position: 2px 4px;
  padding: 12px 20px 12px 30px;
}

.inputs {
  right: 10%;
  left: 10%;
  top: 40%;
  position: absolute;
  margin: auto;
  text-align: center
}

.inputs2 {
  right: 10%;
  left: 10%;
  bottom: 40%;
  position: absolute;
  margin: auto;
  text-align: center
}

.lbl {
  left: 0;
  right: 0;
  bottom: 65%;
  font-family: Arial;
  color: darkgray;
  position: absolute;
  margin: auto;
  text-align: center
}

.inputs3 {
  right: 0;
  left: 0;
  bottom: 20%;
  position: absolute;
  text-align: center
}

#btn1 {
  border-radius: 12px;
  color: white;
  width: 40%;
  padding: 10px 10px;
}

#lbl2 {
  right: 0;
  left: 0;
  bottom: 10%;
  position: absolute;
  text-align: center;
}

#lbl2:hover {
  cursor: pointer;
}

.errorMessage {
  right: 10%;
  left: 10%;
  bottom: 31%;
  position: absolute;
  margin: auto;
  text-align: center;
}

#wrong {
  display: none;
}

#fill {
  display: none;
}

#verify {
  display: none;
}

@media screen and (min-height: 450px) {
  .maindiv {
    top: 0 !important;
    bottom: 0 !important;
  }
}
