<nav id="mainnav" style="position: fixed;width: 100%;z-index: 50;top: 0;"
     class="navbar navbar-expand-lg navbar-light bg-light container-fluid">

  <!--company logo-->
  <a class="navbar-brand">
    <img src="../../../assets/suran_logo.png" width="30" height="30" class="d-inline-block align-top"
         alt="Creative Red logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--main selectors in menu bar-->
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" style="padding-left: 20px;background-color: white">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active menudesign" style="border-top-left-radius: 10px;">
        <a routerLink="/basic/main/dashboard" class="nav-link">dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item menudesign">
        <a routerLink="/basic/main/product" class="nav-link">product</a>
      </li>
      <li class="nav-item menudesign">
        <a routerLink="/basic/main/customer" class="nav-link">customer</a>
      </li>
      <li class="nav-item menudesign">
        <a routerLink="/basic/main/reports" class="nav-link">reports</a>
      </li>
      <li class="nav-item menudesign" style="border-bottom-right-radius: 10px">
        <a routerLink="/basic/main/system" style="border-right: none" class="nav-link">system</a>
      </li>
    </ul>

    <!--searchbar,notification icon,acccount icon with dropdown-->
    <form id="formbar" class="form-inline my-2 my-lg-0">
      <!--<input id="searchtextbar" class="form-control mr-sm-2" type="search" placeholder="Search">-->
      <img routerLink="/basic/main/system" id="notifyicon" style="margin-left:10px;width: 40px;padding:5px;height: 40px; cursor: pointer;
        " src="../../../assets/Appointment%20Reminders_48px.png">
      <span style="margin-top: -25px; margin-left: -15px;" class="badge badge-dark">{{complainsCount}}</span>
      <div class="dropdown">
        <img id="propic" style="margin-left:10px;width: 40px;padding:5px;height: 40px;border:2px solid rgba(54,56,57,0.45);
        border-radius: 100px" src="../../../assets/Edit%20User%20Male_48px.png">
        <div id="drp" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" data-toggle="modal" data-target="#md">Sign up</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#md1">Reset Password</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#md2">Forget Password</a>
          <a class="dropdown-item" routerLink="/login" (click)="logout()">Log out</a>
        </div>
      </div>
    </form>
  </div>
</nav>

<!--user-registration modal-->
<div class="modal mdstyle" id="md" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2"><u>User Registration</u></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="form-group">
            <div class="md-form ">
              <i class="fas fa-user prefix grey-text"></i>
              <label data-error="wrong" data-success="right"> Username</label>
              <input type="text" class="form-control validate" #userNameValidate>
            </div>
          </div>
          <div class="form-group">
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label data-error="wrong" data-success="right">Email</label>
              <input type="text" id="useremail" class="form-control validate" #emaiValidate>
            </div>
          </div>
          <div class="form-group">
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label data-error="wrong" data-success="right">Password</label>
              <input type="password" class="form-control validate" #passwordValidate>
            </div>
          </div>
          <div class="form-group">
            <div class="md-form">
              <i class="fas fa-envelope prefix grey-text"></i>
              <label data-error="wrong" data-success="right"> Confirm Password</label>
              <input type="password" class="form-control validate" #confirmpasswordValidate>
            </div>
          </div>
        </div>
        <div id="modelbtn2" class="modal-footer">
          <div id="incorrectdiv" class="lblIncorrect">
            <h6 class="badge-danger">Incorrect password.</h6>
          </div>
          <div id="blank" class="lblIncorrect">
            <h6 class="badge-danger">Please fill the fields.</h6>
          </div>
          <div id="userExist" class="lblIncorrect">
            <h6 class="badge-danger">User is already exist.</h6>
          </div>
          <div id="length" class="lblIncorrect">
            <h6 class="badge-danger">Password must be 8 digits.</h6>
          </div>
          <button type="button" class="btn btn-success"
                  (click)="register(userNameValidate.value,emaiValidate.value,passwordValidate.value,confirmpasswordValidate.value)">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--user update modal-->
<div class="modal mdstyle" id="md1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--<div class="modal-dialog modal-notify modal-warning" role="document">-->
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2"><u>Reset Password</u></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <form>
        <div class="modal-body">
          <div class="form-group">
            <div class="md-form ">
              <label data-error="wrong" data-success="right"> Current Password</label>
              <input type="password" id="mailtxts" class="form-control validate" #oldPassword>
            </div>
          </div>
          <div class="form-group">
            <div class="md-form ">
              <label data-error="wrong" data-success="right"> New Password</label>
              <input type="password" id="mailtxt" class="form-control validate" #passwordTxt>
            </div>
          </div>
          <div class="form-group">
            <div class="md-form">
              <label data-error="wrong" data-success="right"> Confirm Password</label>
              <input type="password" id="form0" class="form-control validate" #confirmNewpw>
            </div>
          </div>
        </div>
        <div id="modelbtn" class="modal-footer row">
          <div id="IncorrectOldPassword" class="lblIncorrect">
            <h6 class="badge-danger">Incorrect password</h6>
          </div>
          <div id="fields" class="lblIncorrect">
            <h6 class="badge-danger">Please fill the fields</h6>
          </div>

          <button type="button" class="btn btn-success"
                  (click)="editUser(oldPassword.value,passwordTxt.value,confirmNewpw.value)"
          >Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--user forget password modal-->
<div class="modal mdstyle" id="md2" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--<div class="modal-dialog modal-notify modal-warning" role="document">-->
      <!--Header-->
      <div class="modal-header text-center">
        <h4 class="modal-title white-text w-100 font-weight-bold py-2"><u>Forget Password</u></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <form>
        <div class="modal-body">
          <div class="form-group">
            <div class="md-form ">
              <label data-error="wrong" data-success="right"> Email</label>
              <input type="email" id="mailtxtss" class="form-control validate" #emailValue>
            </div>
          </div>
          <div class="form-group">
            <div class="md-form ">
              <label data-error="wrong" data-success="right"> New Password</label>
              <input type="password" id="mailtx" class="form-control validate" #forgetNewPassword>
            </div>
          </div>
        </div>
        <div id="modelbtns" class="modal-footer row">
          <div id="IncorrectEmail" class="lblIncorrect">
            <h6 class="badge-danger">Incorrect Email</h6>
          </div>
          <div id="field" class="lblIncorrect">
            <h6 class="badge-danger">Please fill the fields</h6>
          </div>

          <button type="button" class="btn btn-success"
                  (click)="forgetUser(emailValue.value,forgetNewPassword.value)"
          >Confirm
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
