<router-outlet></router-outlet>
<!--
<div style="width: 100%;position:relative;height: auto;background-color: #b7b7b7;">
  <div class="leftdiv">
    <button type="button" class="three btn btn-outline-primary">Save Draft</button>
    <div class="rightdiv">
      <button  type="button" class="one btn btn-outline-secondary">View First PDF</button>
      <button type="button" class="two btn btn-outline-secondary">Approve</button>
    </div>
  </div>
</div>
-->
<!--<button type="submit" (click)="sendEmail()">SEND</button>-->


