#pagetitle {
  font-family: "Yu Gothic UI";
  font-weight: bold;
  font-size: 21px;
  color: white;
}

#titlemainnav {
  display: -webkit-box;
}

#titimg {
  height: 20px;
  width: 20px;
  padding-bottom: 2px;
}

#titlemainnav h6 {
  font-size: 12px;
  padding-top: 0.7rem;
  padding-left: 0.5rem;
  color: #f8f1ea
}

#titlemainnav {
  padding: 0.2rem 0.2rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.bg-light {
  background-color: #D60D39 !important;
}

#navbarTogglerDemo03 img {
  height: 30px;
  width: 40px;
  padding: 0px 5px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 7px;
}

#navbarTogglerDemo03 img:hover {
  /*height: 25px;*/
  /*width: 35px;*/
  cursor: pointer;
}

#modelbtn button {
  border-radius: 10px;
}

.form-group select {
  border-radius: 10px;
  height: 40px;
}

.form-group input {
  border-radius: 10px;
  height: 30px;
}

@media only screen and (max-width: 1070px) {

  #pagetitle img {
    position: absolute;
    height: 20px;
    width: 20px;
    padding-bottom: 2px;
  }

  #titlemainnav h6 {
    display: none;
  }

  #pagetitle {
    padding-left: 10px;
  }

  #titimg {
    display: none;
  }

}

@media only screen and (max-width: 993px) {
  #mainnav {
    padding-top: 0px;
    height: 10%;
  }

  .dropdown-menu {
    right: 10px;
    margin-left: 0px;
    margin-top: 10px;
    background-color: #363839;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media only screen and (max-width: 578px) {
  #formbar img {
    position: relative;
    top: 5px;
    padding: 0;
  }

  .dropdown-menu {
    right: 10px;
    margin-left: 0px;
    margin-top: 10px;
    background-color: #363839;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}

@media only screen and (max-width: 320px) {
  #pagetitle {
    display: none;
  }

  #titlemainnav {
    padding: 1.2rem 0.2rem;
  }
}
